<nav class="bar bar-footer clearfix" data-stick-bottom>
    <div class="bar-inner article-meta">
        <%- partial('date', {class_name: 'article-date', date_format: 'MMM D'}) %>
        <%- partial('category') %>
        <%- partial('tag') %>
    
    </div>
  </nav>