<% if(theme.postCount.enable){  %>
	<% if(theme.postCount.wordcount){  %>
		<span class="post-wordcount hidden-xs" itemprop="wordCount"><i class="far fa-file-alt"></i> <%= wordcount(post.content) %></span>
	<% } %>
	<% if(theme.postCount.min2read){  %>
		<span class="post-readcount hidden-xs" itemprop="timeRequired"><i class="fas fa-hourglass-half"></i> ~<%= min2read(post.content) %> <%= __('unit.time') %></span>
	<% } %>
<% } %>