.msr-line {
    font-size: 1.1em;
}

/* SOUTH SECTOR */

[character="Akira"] {
    --color: #cc0000;
    --light-mode: hsl(0, 54%, 93%);
    --dark-mode: hsl(0, 12%, 25%);
    --icon: url("https://res.cloudinary.com/kisu/image/upload/v1635979061/hlos/akira/chibi.png");
}
[character="Akira"]::before {
    content: 'Akira';
}

[character="Will"] {
    --color: #ffc436;
    --light-mode: hsl(42, 54%, 93%);
    --dark-mode: hsl(42, 12%, 25%);
    --icon: url("https://res.cloudinary.com/kisu/image/upload/v1636012674/hlos/will/uniform.png");
}
[character="Will"]::before {
    content: 'Will';
}

[character="Brad"] {
    --color: #3f2569;
    --light-mode: hsl(263, 54%, 93%);
    --dark-mode: hsl(263, 12%, 25%);
    --icon: url("https://res.cloudinary.com/kisu/image/upload/v1635979069/hlos/brad/chibi.png");
}
[character="Brad"]::before {
    content: 'Brad';
}

[character="Oscar"] {
    --color: #46c1d0;
    --light-mode: hsl(187, 54%, 93%);
    --dark-mode: hsl(187, 12%, 25%);
    --icon: url("https://res.cloudinary.com/kisu/image/upload/v1635979089/hlos/oscar/chibi.png");
}
[character="Oscar"]::before {
    content: 'Oscar';
}

/* NORTH SECTOR */

[character="Ren"] {
    --color: #12459e;
    --light-mode: hsl(218, 54%, 93%);
    --dark-mode: hsl(218, 12%, 25%);
    --icon: url("https://res.cloudinary.com/kisu/image/upload/v1635979040/hlos/ren/chibi.png");
}
[character="Ren"]::before {
    content: 'Ren';
}

[character="Gast"] {
    --color: #4d791c;
    --light-mode: hsl(88, 54%, 93%);
    --dark-mode: hsl(88, 12%, 25%);
    --icon: url("https://res.cloudinary.com/kisu/image/upload/v1636012707/hlos/gast/uniform.png");
}
[character="Gast"]::before {
    content: 'Gast';
}

[character="Victor"] {
    --color: #c6bfb9;
    --light-mode: hsl(28, 10%, 93%);
    --dark-mode: hsl(28, 10%, 25%);
    --icon: url("https://res.cloudinary.com/kisu/image/upload/v1636012768/hlos/victor/uniform.png");
}
[character="Victor"]::before {
    content: 'Victor';
}

[character="Marion"] {
    --color: #9d0039;
    --light-mode: hsl(338, 54%, 93%);
    --dark-mode: hsl(338, 12%, 25%);
    --icon: url("https://res.cloudinary.com/kisu/image/upload/v1636012735/hlos/marion/uniform.png");
}
/* [character="Marion"][outfit="waterfront"] {
    --icon: url("https://arcsine.co/hlos/north/marion/waterfront.png")
} */
[character="Marion"]::before {
    content: 'Marion';
}

/* WEST SECTOR */

[character="Junior"] {
    --color: #e7da36;
    --light-mode: hsl(56, 54%, 93%);
    --dark-mode: hsl(56, 12%, 25%);
    --icon: url("https://res.cloudinary.com/kisu/image/upload/v1636012636/hlos/junior/uniform.png");
}
/* [character="Junior"][outfit="hero"] {
    --icon: url("https://arcsine.co/hlos/west/junior/hero.png")
}
[character="Junior"][outfit="rock"] {
    --icon: url("https://arcsine.co/hlos/west/junior/rock.png")
} */
[character="Junior"]::before {
    content: 'Junior';
}

[character="Faith"] {
    --color: #da3b8b;
    --light-mode: hsl(330, 54%, 93%);
    --dark-mode: hsl(330, 12%, 25%);
    --icon: url("https://res.cloudinary.com/kisu/image/upload/v1636012595/hlos/faith/uniform.png");
}
[character="Faith"]::before {
    content: 'Faith';
}

[character="Keith"] {
    --color: #a1ca2e;
    --light-mode: hsl(76, 54%, 93%);
    --dark-mode: hsl(76, 12%, 25%);
    --icon: url("https://res.cloudinary.com/kisu/image/upload/v1635979124/hlos/keith/chibi.png");
}
[character="Keith"]::before {
    content: 'Keith';
}

[character="Dino"] {
    --color: #f58ea3;
    --light-mode: hsl(348, 54%, 93%);
    --dark-mode: hsl(348, 12%, 25%);
    --icon: url("https://res.cloudinary.com/kisu/image/upload/v1635979105/hlos/dino/chibi.png");
}
[character="Dino"]::before {
    content: 'Dino';
}

/* EAST SECTOR */

[character="Gray"] {
    --color: #19727a;
    --light-mode: hsl(185, 54%, 93%);
    --dark-mode: hsl(185, 12%, 25%);
    --icon: url("https://res.cloudinary.com/kisu/image/upload/v1635979152/hlos/gray/chibi.png");
}
[character="Gray"]::before {
    content: 'Gray';
}

[character="Billy"] {
    --color: #ff7608;
    --light-mode: hsl(27, 54%, 93%);
    --dark-mode: hsl(27, 12%, 25%);
    --icon: url("https://res.cloudinary.com/kisu/image/upload/v1636012564/hlos/billy/uniform.png");
}
[character="Billy"]::before {
    content: 'Billy';
}

[character="Asch"] {
    --color: #8897ac;
    --light-mode: hsl(215, 54%, 93%);
    --dark-mode: hsl(215, 12%, 25%);
    --icon: url("https://res.cloudinary.com/kisu/image/upload/v1635979138/hlos/asch/chibi.png");
}
[character="Asch"]::before {
    content: 'Asch';
}

[character="Jay"] {
    --color: #ceb300;
    --light-mode: hsl(52, 54%, 93%);
    --dark-mode: hsl(52, 12%, 25%);
    --icon: url("https://res.cloudinary.com/kisu/image/upload/v1635979160/hlos/jay/chibi.png");
}
[character="Jay"]::before {
    content: 'Jay';
}

/* MISC */

[character="Nova"] {
    --color: #000000;
    --light-mode: hsl(0, 0%, 93%);
    --dark-mode: hsl(0, 0%, 25%);
    --icon: url("https://res.cloudinary.com/kisu/image/upload/v1636012475/hlos/misc/nova.png");
}
[character="Nova"]::before {
    content: 'Nova';
}

[character="Jack"] {
    --color: #8c858d;
    --light-mode: hsl(293, 10%, 93%);
    --dark-mode: hsl(293, 10%, 25%);
    --icon: url("https://res.cloudinary.com/kisu/image/upload/v1636012475/hlos/misc/jack02.png");
}
[character="Jack"]::before {
    content: 'Jack';
}

[character="Jacqueline"] {
    --color: #fe9aad;
    --light-mode: hsl(349, 54%, 93%);
    --dark-mode: hsl(349, 12%, 25%);
    --icon: url("https://res.cloudinary.com/kisu/image/upload/v1636012475/hlos/misc/jacqueline.png");
}
[character="Jacqueline"]::before {
    content: 'Jacqueline';
}