:root {
    --msr-unit-margin: 1.5em;
    --msr-icon-size: 60px;
    --msr-line-size: 1.1em;
}

/* SOUTH SECTOR */

[character="Akira"] {
    --color: #cc0000;
    --hue: 0;
    --name: "Akira";
    --icon: url("https://res.cloudinary.com/kisu/image/upload/v1635979061/hlos/akira/chibi.png");
}

[character="Will"] {
    --color: #ffc436;
    --hue: 42;
    --name: "Will"
    --icon: url("https://res.cloudinary.com/kisu/image/upload/v1636012674/hlos/will/uniform.png");
}

[character="Brad"] {
    --color: #3f2569;
    --hue: 263;
    --name: "Brad";
    --icon: url("https://res.cloudinary.com/kisu/image/upload/v1635979069/hlos/brad/chibi.png");
}

[character="Oscar"] {
    --color: #46c1d0;
    --hue: 187;
    --name: "Oscar";
    --icon: url("https://res.cloudinary.com/kisu/image/upload/v1635979089/hlos/oscar/chibi.png");
}

/* NORTH SECTOR */

[character="Ren"] {
    --color: #12459e;
    --hue: 218;
    --name: "Ren";
    --icon: url("https://res.cloudinary.com/kisu/image/upload/v1635979040/hlos/ren/chibi.png");
}

[character="Gast"] {
    --color: #4d791c;
    --hue: 88;
    --name: "Gast";
    --icon: url("https://res.cloudinary.com/kisu/image/upload/v1636012707/hlos/gast/uniform.png");
}

[character="Victor"] {
    --color: #c6bfb9;
    --light-mode: hsl(28, 10%, 93%);
    --dark-mode: hsl(28, 10%, 25%);
    --name: "Victor";
    --icon: url("https://res.cloudinary.com/kisu/image/upload/v1636012768/hlos/victor/uniform.png");
}

[character="Marion"] {
    --color: #9d0039;
    --hue: 338;
    --name: "Marion";
    --icon: url("https://res.cloudinary.com/kisu/image/upload/v1636012735/hlos/marion/uniform.png");
}
/* [character="Marion"][outfit="waterfront"] {
    --icon: url("https://arcsine.co/hlos/north/marion/waterfront.png")
} */

/* WEST SECTOR */

[character="Junior"] {
    --color: #e7da36;
    --hue: 56;
    --name: "Junior";
    --icon: url("https://res.cloudinary.com/kisu/image/upload/v1636012636/hlos/junior/uniform.png");
}
/* [character="Junior"][outfit="hero"] {
    --icon: url("https://arcsine.co/hlos/west/junior/hero.png")
}
[character="Junior"][outfit="rock"] {
    --icon: url("https://arcsine.co/hlos/west/junior/rock.png")
} */

[character="Faith"] {
    --color: #da3b8b;
    --hue: 330;
    --name: "Faith";
    --icon: url("https://res.cloudinary.com/kisu/image/upload/v1636012595/hlos/faith/uniform.png");
}

[character="Keith"] {
    --color: #a1ca2e;
    --hue: 76;
    --name: "Keith";
    --icon: url("https://res.cloudinary.com/kisu/image/upload/v1635979124/hlos/keith/chibi.png");
}

[character="Dino"] {
    --color: #f58ea3;
    --hue: 348;
    --name: "Dino";
    --icon: url("https://res.cloudinary.com/kisu/image/upload/v1635979105/hlos/dino/chibi.png");
}

/* EAST SECTOR */

[character="Gray"] {
    --color: #19727a;
    --hue: 185;
    --name: "Gray";
    --icon: url("https://res.cloudinary.com/kisu/image/upload/v1635979152/hlos/gray/chibi.png");
}

[character="Billy"] {
    --color: #ff7608;
    --hue: 27;
    --name: "Billy";
    --icon: url("https://res.cloudinary.com/kisu/image/upload/v1636012564/hlos/billy/uniform.png");
}

[character="Asch"] {
    --color: #8897ac;
    --hue: 215;
    --name: "Asch";
    --icon: url("https://res.cloudinary.com/kisu/image/upload/v1635979138/hlos/asch/chibi.png");
}

[character="Jay"] {
    --color: #ceb300;
    --hue: 52;
    --name: "Jay";
    --icon: url("https://res.cloudinary.com/kisu/image/upload/v1635979160/hlos/jay/chibi.png");
}

/* MISC */

[character="Nova"] {
    --color: #000000;
    --light-mode: hsl(0, 0%, 93%);
    --dark-mode: hsl(0, 0%, 25%);
    --name: "Nova";
    --icon: url("https://res.cloudinary.com/kisu/image/upload/v1636012475/hlos/misc/nova.png");
}

[character="Jack"] {
    --color: #8c858d;
    --light-mode: hsl(293, 10%, 93%);
    --dark-mode: hsl(293, 10%, 25%);
    --name: "Jack02";
    --icon: url("https://res.cloudinary.com/kisu/image/upload/v1636012475/hlos/misc/jack02.png");
}

[character="Jacqueline"] {
    --color: #fe9aad;
    --hue: 349;
    --name: "Jacqueline";
    --icon: url("https://res.cloudinary.com/kisu/image/upload/v1636012475/hlos/misc/jacqueline.png");
}

/* DUOS */
[character="faijuni"] {
    --color: linear-gradient(145deg, #da3b8b 10%, #e7da36 90%);
    --hue: 20;
    --name: "Faith & Junior";
    --icon: none;
}

[character="faibilly"] {
    --color: linear-gradient(145deg, #ff7608 10%, #da3b8b 90%);
    --hue: 6;
    --name: "Billy & Faith";
    --icon: none;
}

[character="gastmari"] {
    --color: linear-gradient(145deg, #4d791c 10%, #9d0039 90%);
    --hue: 15;
    --name: "Gast & Marion";
    --icon: none;
}

/* MOBS */

[character="Boy"] {
    --name: "Boy";
}

[character="Mother"] {
    --name: "Boy's Mother";
}

[character="Chris"] {
    --name: "Junior's Older Brother"
}