<script>
// const chibis = document.querySelectorAll("div.chibi-tag")
const chibiTag = (chara) => {
    const tagLink = site.data.heroes.$(chara).tag
    const tagImg = site.data.heroes.$(chara).chibi

    return `<a href="${tagLink}"><img src="https://res.cloudinary.com/kisu/image/upload/c_limit,h_80/${tagImg}"></a>`;
}

// chibis.forEach(chibi => {
//     chibi.innerHtml = chibiTag([chara])
// })
</script>