<footer class="footer" itemscope itemtype="http://schema.org/WPFooter">
	<%- partial('_common/social', null, {cache: !config.relative_link}) %>
    <div class="copyright">
        <div class="publishby">
        	当ページは、Happy Elements株式会社「エリオスR」の画像を利用しております<br />
            該当画像の転載・配布等は禁止しております<br />
            © Happy Elements K.K
        </div>
    </div>
</footer>